@import url("header.less");
//左侧导航
#personalBox{
    margin-bottom: 20px;
    .leftNav{
        .list-group{
       margin-bottom: 0;
       .list-group-item:last-child,.list-group-item:first-child{
           border-radius: 0;
       }
            }
    }
   .titleactive{
       background: #E7E7E7;
   }
}
@import url("footer.less");